<li>
	{{task}}

	<button class="change-complete" data-id="{{id}}" data-newcomplete="{{complete}}">
		{{#if complete}}Completed Task!{{else}}To-Do Task!{{/if}}
	</button>

	<button class="delete-task" data-id="{{this.id}}">Delete!</button>
</li>
