<li>
	{{name}}

	<button class="change-complete" data-id="{{id}}" data-newcomplete="{{complete}}">
		{{#if complete}}COMPLETED TASK!{{else}}TO-DO TASK!{{/if}}
	</button>

	<button class="delete-task" data-id="{{this.id}}">DELETE!</button>
</li>
